.banner.banner-1 {
  background-image: url("../../assets/images/BG1.png");
}

.banner.banner-2 {
  background-image: url("../../assets/images/BG2.png");
}

.banner.banner-3 {
  background-image: url("../../assets/images/BG3.png");
}
