@font-face {
  font-family: "Technor";
  src: url("./fonts/Technor-Black.otf");
}

@font-face {
  font-family: "Supreme";
  src: url("./fonts/Supreme-Regular.otf");
}

@font-face {
  font-family: "Tanker";
  src: url("./fonts/Tanker-Regular.otf");
}
